body {
  margin: 0;
  background: linear-gradient(to right, #67c5ffdd, #ff0000bb);
  font-family: Roboto, sans-serif;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  margin: 40px auto;
  color: #0aff80e6;
  text-align: center;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  padding: 6px 10px;
  border: 1px solid #eee;
  margin: 10px auto;
}

li h4 {
  color: #680affe6;
  margin: 0;
  text-transform: capitalize;
}

li p {
  color: #333;
  margin: 8px 0 0;
}

footer {
  background: transparent;
  padding: 60px;
  margin-top: 60px;
}

form {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
  margin: 16px 0 6px;
}

input,
select {
  padding: 6px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

.field {
  display: inline-block;
  margin: 0 10px;
}

button {
  color: white;
  border: 0;
  background-color: #0aff80e6;
  padding: 6px;
  min-width: 100px;
  border-radius: 4px;
}

button {
  background-color: #3498db;
  color: white;
  border: 2px solid #3498db;
  padding: 6px;
  min-width: 100px;
  transition: border-color 0.3s ease;
}

button:hover {
  border-color: white;
  cursor: pointer;
}


footer a {
  text-align: center;
  display: block;
  color: #292929;
  margin-top: 40px;
  font-size: 0.9rem;
}

a:hover {
  color: antiquewhite;
}